/* === BREADCRUMBS === */

.storefront-breadcrumb {
    padding: 0.41575em 0;
    margin: 0 0 1.706325903em;
    background: darken (20%, $bg);
    border-bottom: 1px solid $prime;
    border-top: 1px solid $prime;
}